*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  |============================
  | bacground
  |============================
*/

:root {
  --primary-bgc: #ffffff;
  --hero-bgc: #c4c4c4;
  --secondary-bgc: #f5f4fa;
  --footer-bgc: #2f303a;
  --portfolio-bgc-thumb: rgba(33, 150, 243, 0.9);
  --bgc-work-card: rgba(47, 48, 58, 0.8);

  /**
    |============================
    | text-cl
    |============================
  */
  --primary-text-cl: #212121;
  --secondary-text-cl: #757575;

  /**
    |============================
    | accent-cl
    |============================
  */
  --accent-text-cl: #ffffff;
  --accent-text-cl-60: rgba(255, 255, 255, 0.6);
  --accent-black: #000000;
  --accent-blue: #2196f3;

  --icon-social: #afb1b8;
  --icon-customer: #afb1b8;
  --icon-bgc: rgba(255, 255, 255, 0.1);

  --bgc-btn: #188ce8;

  /**
    |============================
    | Animation
    |============================
  */
  --animation-time: 250ms;
  --animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |============================
  | Загальні
  |============================
*/

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-cl);
  background-color: var(--primary-bgc);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
a,
p {
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.btn {
  cursor: pointer;
  border: none;
  margin: 0;
}

.section-title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

/**
  |============================
  | Container
  |============================
*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.position {
  display: flex;
}

.section-container {
  padding: 94px 0;
}

/**
  |============================
  | visually-hidden
  |============================
*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/**
  |============================
  | header
  |============================
*/
.page-header {
  border: 1px solid #ECECEC;
}

.logo {
  color: var(--accent-black);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0, 03;

  padding: 24px 0;
  margin-right: 93px;
}

.logo span {
  color: var(--accent-blue);
}

.nav-list {
  gap: 50px;
}

.auth-list {
  margin-left: auto;
  gap: 30px;
}

.header-link.active{
  color: var(--accent-blue);
}

.header-link {
  position: relative;

  transition: color var(--animation-time) var(--animation-cubic);

  display: flex;
  align-items: center;
  padding: 32px 0;

  color: var(--primary-text-cl);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link.active::after {
  content: '';

  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-blue);
}

.auth-link {
  color: var(--secondary-text-cl);
}

.auth-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-blue);
}

/**
  |============================
  | main, hero
  |============================
*/
.hero-section {
  background-color: var(--hero-bgc);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../BCG/team.jpg);

  text-align: center;
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  color: var(--accent-text-cl);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.hero-btn {
  transition: background-color var(--animation-time) var(--animation-cubic);

  color: var(--accent-text-cl);
  background-color: var(--accent-blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--bgc-btn);
  /* background-color: red; */
}

/* feature */
.feature-list {
  gap: 30px;
}

.feature-item {
  width: 270px;
}

.feature-item::before {
  display: block;
  height: 120px;
  content: '';
  background-color: var(--secondary-bgc);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.feature-item:nth-child(1)::before {
  background-image: url(../svg-feature/antenna.svg);
}

.feature-item:nth-child(2)::before {
  background-image: url(../svg-feature/clock.svg);
}

.feature-item:nth-child(3)::before {
  background-image: url(../svg-feature/diagram.svg);
}

.feature-item:nth-child(4)::before {
  background-image: url(../svg-feature/astronaut.svg);
}

.feature-title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.feature-text {
  color: var(--secondary-text-cl);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* work */
.work-list {
  gap: 30px;
}

.work-thumb {
  position: relative;
}

.work-text {
  position: absolute;
  bottom: 0;
  left: 0;

  /* display: flex;
  justify-content: center; */
  display: block;
  width: 100%;
  padding: 27px 0;

  background-color: var(--bgc-work-card);
  color: var(--accent-text-cl);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}

/* team */
.team-section {
  background-color: var(--secondary-bgc);
}

.team-list {
  gap: 30px;
}

.team-item {
  background-color: var(--primary-bgc);

  min-width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  padding: 30px 32px;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-content-title {
  font-weight: 500;
  font-size: inherit;

  margin-bottom: 10px;
}

.team-content-text {
  color: var(--secondary-text-cl);

  margin-bottom: 16px;
}

.team-content-list {
  justify-content: space-between;
}

.team-content-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team-content-link {
  transition: color var(--animation-time) var(--animation-cubic),
    background-color var(--animation-time) var(--animation-cubic);

  color: var(--icon-social);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.team-content-icon {
  fill: currentColor;
}

.team-content-link:hover,
.team-content-link:focus {
  color: var(--accent-text-cl);
  background-color: var(--accent-blue);
}

/* customer */
.customer-list {
  gap: 30px;
}

.customer-item {
  width: 170px;
  height: 92px;
}

.customer-link {
  transition: color var(--animation-time) var(--animation-cubic),
  border-color: var(--animation-time) var(--animation-cubic);
  

  color: var(--icon-customer);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid var(--icon-customer);
  border-radius: 4px;
}

.customer-icon {
  fill: currentColor;
}

.customer-link:hover,
.customer-link:focus {
  color: var(--accent-blue);
  border-color: var(--accent-blue);
}

/* footer */
.footer {
  background-color: var(--footer-bgc);
  padding: 60px 0;
}

.footer-container {
  align-items: baseline;
  gap: 70px;
}

.logo-footer {
  color: var(--accent-text-cl);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  display: inline-block;
  margin-bottom: 20px;
}

.logo-footer span {
  color: var(--accent-blue);
}

/* address */
.address-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.address-link {
  transition: color var(--animation-time) var(--animation-cubic);

  color: var(--accent-text-cl-60);
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.geolocation-link {
  color: var(--accent-text-cl);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-blue);
}

/* join */
.join-title {
  color: var(--accent-text-cl);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.footer-join-list {
  gap: 10px;
}

.footer-join-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.footer-join-link {
  transition: background-color var(--animation-time) var(--animation-cubic);

  color: var(--accent-text-cl);
  background-color: var(--icon-bgc);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: inherit;
}

.footer-icon {
  fill: currentColor;
}

.footer-join-link:hover,
.footer-join-link:focus {
  background-color: var(--accent-blue);
}

/* portfolio */
/* btn */
.portfolio-btn-list {
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-btn {
  transition: color var(--animation-time) var(--animation-cubic), background-color var(--animation-time) var(--animation-cubic);

  padding: 6px 22px;
  border-radius: 4px;

  color: currentColor;
  background-color: var(--secondary-bgc);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--accent-text-cl);
  background-color: var(--accent-blue);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* card */
.portfolio-list {
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  width: 370px;
  height: 404px;

  position: relative;
  
}

.portfolio-link {
  transition: box-shadow var(--animation-time) var(--animation-cubic);
  display: block;
  height: 100%;
  border: 1px solid #eeeeee;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-thumb-text {
  position: absolute;
 
  left: 0;

  transition: transform var(--animation-time) var(--animation-cubic);

  display: block;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  background-color: var(--portfolio-bgc-thumb);
  color: var(--accent-text-cl);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  transform: translateY(0);
}

.portfolio-link:hover .portfolio-thumb-text ,
.portfolio-link:focus .portfolio-thumb-text {
  transform: translateY(-101%);

}

.portfolio-content {
  padding: 20px 24px;
}

.portfolio-content-title {
  color: var(--primary-text-cl);
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.portfolio-content-text {
  color: var(--secondary-text-cl);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}


/* modal */
.backdrop {
  transition: opacity 249ms cubic-bezier(0.4, 0, 0.2, 1), visibility 249ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* display: flex;
  justify-content: center;
  align-items: center; */

  background-color: rgba(0, 0, 0, 0.06);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 

  min-width: 528px;
  min-height: 581px;

  background-color: var(--primary-bgc);
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 8px;
  margin-left: calc(100% - 38px);

  background-color: inherit;

}

label{
  display: block;
  text-align: center;
}

.register-form{
  display: block;
  align-items:baseline;
  justify-content: center;
  
}

.register-form-title{
  display: block;
  text-align: center;
}

.register-form-group{
  margin-top: 12px;
}


.form-group-item{
  /* position: absolute; */
  
}

textarea{
  resize: none;
}





